/*global*/
::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;
}
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Barlow", sans-serif;
    font-weight: 200;
}
p{line-height: 2;
    font-size: 15px;
}
h2{
    text-align: center;
}
a{
    color: black;
    text-decoration: none;
}
img{
    max-width: 100%;
    image-rendering: auto;
}
/*utilities*/
.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
.flex-main-container{
    display: flex;
    justify-content: space-around;
}
.flex-v{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}
.flex-about-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}
.flex-founder-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}

.container{
    width: 80%;
    margin-left:auto;
    margin-right:auto;
}
.btn-read-more{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 8px;
    margin: 10px 0;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 1em;
    display: inline-block;
    font-weight: bold;
    padding: .5em;
    margin-left: -.5em;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    &:before, &:after {
        position: absolute;
        content: '';
        border-bottom: 3px solid white;
        border-radius: 1em;
        bottom: .3em;
        transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &:before {
        width: 1em;
        transform-origin: left;
    }

    &:after {
        width: 82%;
        left: 1em;
        transform: translateX(110%);
    }

    &:hover:before {
        transform: scaleX(0.3);
    }

    &:hover:after {
        transform: translateX(0);
    }
}
.btn-more-information{
    display: inline-block;
    background-color: sienna;
    color: white;
    padding: 10px;
    margin: 10px 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
        margin-top: 1em;
        display: inline-block;
        font-weight: bold;
        padding: .5em;
        margin-left: -.5em;
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    
        &:before, &:after {
            position: absolute;
            content: '';
            border-bottom: 3px solid white;
            border-radius: 1em;
            bottom: .3em;
            transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    
        &:before {
            width: 1em;
            transform-origin: left;
        }
    
        &:after {
            width: 82%;
            left: 1em;
            transform: translateX(110%);
        }
    
        &:hover:before {
            transform: scaleX(0.3);
        }
    
        &:hover:after {
            transform: translateX(0);
        }
    }
.light-text{
    font-weight: bold;
}
/*header*/
.logo{
    width: 220px;
    height: 150px;
    margin-top: 70px;
    font-weight: 400;
}
.site-header{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    height: 400px;
}
.main-title{
    color: white;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: normal;
    text-align: center;
}
.site-header p{
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
}
.contact-header{
    background-color: black;
    height: 150px;
}
/*nav*/
.navigation-top{
    text-align: center; 
    font-weight: bold;
    word-spacing: 30px;
    font-size: 15px;
}
.navigation-top a{
    color: white;
}
.nav-bottom{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 15px;
    word-spacing: 20px;
}
.nav-bottom a{
    background-color: black;
    color: white;
}
/*main*/
.main-contact{
    height: 100vh;
}
.title{
    margin: 25px 0;
    text-transform: uppercase;
    text-align: left;
}
.courses-workshops{
    margin-left: 10px;
    text-align: left;
}
.title-courses{
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
}
.about-us{
    text-align: center;
    font-size: 16px;
    margin-left: 20%;
}
.founder{
    text-align: center;
    font-size: 16px;
    margin-left: 20%;
}
/*article*/
.article-container{
    border-bottom: 1px solid darkgrey;
    margin-bottom: 20px;
}
/*footer*/
.main-title-bottom{
    color: white;
    text-align: center;
    font-size: 25px;
    text-transform: capitalize;
}
.footer-container{
    background-color: black;
    height: 100px;
    margin-bottom:0%;
    padding-bottom: 0%;
}

/*contact*/
.contact-flex{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.form-container{
    background-color: white;
    padding: 30px;
    margin-top: -30px;
}
.input-container{
    margin-bottom: 15px;
}
.input-container label{
    display: inline-block;
    width: 100px;
    text-align: right;
}
.input-container input,
.input-container textarea{
    width: 80%;
    padding: 3px;
}
.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/*courses*/
.course-flex{
    display: flex;
    flex-direction: inline-block;
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-evenly;
    align-items: center;
    justify-items: stretch;
}
.course-img{
    max-width: 200px;
}